.bgForm {
    background-image: linear-gradient(rgba(255, 255, 255, .5) 3%, rgba(0, 255, 255, .2));
    a {
        color: rgb(53, 31, 31);
    }
}

.divFooter {
    height: 80%;
    width: .3%;
    background-color: rgb(161, 161, 161);
}

.redesHover:hover {
    color: rgb(17, 0, 255);
}
