.logoNav {
  font-size: 2rem;
  font-family: 'Comforter Brush', cursive; }

.widthNav {
  width: 30%;
  font-size: 1.2rem; }

.formNav {
  width: 20vw; }
  .formNav .buttonSearch {
    font-size: 1.2rem; }

@media screen and (max-width: 991px) {
  .formNav {
    width: 100%; } }

@media screen and (max-width: 1604px) {
  .widthNav {
    width: 40%; } }

@media screen and (max-width: 1226px) {
  .widthNav {
    width: 50%; } }

.heroImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/hotele-reception.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.heroImgG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/heroIMG-galery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.heroImgR {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/heroimgAloja.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.heroImgIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/indexim.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }
  .heroText p {
    font-size: 2vw; }
  .heroText h1 {
    font-size: 5vw; }

@media screen and (max-width: 600px) {
  .heroText p {
    font-size: 3vw; }
  .heroText h1 {
    font-size: 10vw; } }

.contactForm {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: .5vh; }
  .contactForm input {
    border: none;
    border-bottom: thin solid rgba(0, 0, 0, 0.3); }

.bgForm {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 3%, rgba(0, 255, 255, 0.2)); }
  .bgForm a {
    color: #351f1f; }

.divFooter {
  height: 80%;
  width: .3%;
  background-color: #a1a1a1; }

.redesHover:hover {
  color: #1100ff; }

.space {
  margin-top: 2rem; }

.transform {
  transition: transform .2s ease-in-out; }
  .transform:hover {
    transform: scale(1, 1.1); }

.textIndex {
  font-size: 1.2rem;
  font-family: 'rubik', Times, serif; }

@media screen and (max-width: 1199px) {
  .textIndex {
    font-size: 1rem; }
  .zoomImg {
    transition: all 3s; }
    .zoomImg:hover {
      width: 100%;
      height: auto; } }

.bgGradient {
  background-image: linear-gradient(rgba(0, 251, 251, 0.2), white); }
